@media only screen and (min-width: 600px) {

    body{
        display: grid;
        grid-template-areas:  " header           header          header"
                            " username         username        username"
                            " sidenavbar       sidenavbar      sidenavbar"
                            " file-nav         file-nav        about"
                            " repo-content     repo-content    about"
                            " readme           readme          about"
                            " footer           footer          footer";

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 64px;
        
    }

    header{
        border: 1px solid black;
        padding: 1rem;
        grid-area: header;
        grid-template-areas:  "header-octocat      header-collapsible         header-bell";
        color: #FFF;
    }

    header ul li{
        padding:0.5rem;
    }
    header ul li a{
        color: #FFF;
        font-size:14px;
        font-weight: 600;
    }

    .header-octocat{
        justify-self: flex-start;
        display: flex;
    }
    .header-octocat form{
        display:flex;
    }
    .header-collapsible{
        display: flex;
    }
    .header-collapsible ul{
        display:flex
    }
    .header-bell{
        display: flex;
    }
    .header-bell--desktop-icons{
        display:flex;
    }
    
    .collapsible-icon{
        display:none;
    }

    .profile-section{
        border: 1px solid black;
        padding: 1rem;
        grid-area: username;
    }

    .side-navbar-section{
        border: 1px solid black;
        padding: 1rem;
        grid-area: sidenavbar;
    }

    .file-navigation-section{
        border: 1px solid black;
        padding: 1rem;
        grid-area: file-nav;
    }
    .repository-content-section{
        border: 1px solid black;
        padding: 1rem;
        grid-area: repo-content;
    }

    .readme-section{
        border: 1px solid black;
        padding: 1rem;
        grid-area: readme;
    }

    .about-section{
        border: 1px solid black;
        padding: 1rem;
        grid-area:about;
    }

    footer{
        border: 1px solid black;
        padding: 1rem;
        grid-area:footer;
    }


}