@media only screen and (min-width: 600px) {

    .desktop-main-view{
        display: flex;
    }
    
    header{
        border: 1px solid black;
        padding: 1rem;
        
        grid-template-areas:  "header-octocat      header-collapsible         header-bell";
        color: #FFF;
    }

    header ul li{
        padding:0.5rem;
    }
    header ul li a{
        color: #FFF;
        font-size:14px;
        font-weight: 600;
    }

    .header-octocat{
        justify-self: flex-start;
        display: flex;
    }
    .header-octocat form{
        display:flex;
    }
    .header-collapsible{
        display: flex;
    }
    .header-collapsible ul{
        display:flex
    }
    .header-bell{
        display: flex;
    }
    .header-bell--desktop-icons{
        display:flex;
    }
    
    .collapsible-icon{
        display:none;
    }

    .profile-section{
        
        padding: 1rem;
        grid-area: username;
        display: flex;
        justify-content: space-between;
    }
    .profile-action-buttons{
        display: flex;
        flex-direction:row-reverse;
           
    }
    
    
    .stars-counter{
        display:none;
    }

    .side-navbar-section{
        
        padding: 1rem;
        grid-area: sidenavbar;
    }

    .file-navigation-section{
        
        padding: 1rem;
        grid-area: file-nav;
    }
    .repository-content-section{
        
        padding: 1rem;
        grid-area: repo-content;
    }

    .readme-section{
        
        padding: 1rem;
        grid-area: readme;
    }

    .about-section{
        
        padding: 1rem;
        grid-area:about;
    }

    footer{
        
        padding: 1rem;
        grid-area:footer;
    }


}