@media only screen and (min-width: 600px) {

    .desktop-main-view{
        display: flex;
    }
    .desktop-leftside{
        width: 80%;
        padding: 1rem;
    }
    .desktop-rightside{
        padding-right:1rem;
    }
    
    header{
        border: 1px solid black;
        padding: 0 2rem;       
        grid-template-areas:  "header-octocat      header-collapsible         header-bell";
        grid-template-rows: 62px;
        color: #FFF;
    }

    header ul li{
        padding:0.5rem;
    }
    header ul li a{
        color: #FFF;
        font-size:14px;
        font-weight: 600;
    }

    .header-octocat{
        justify-self: flex-start;
        display: flex;
    }
    .header-octocat form{
        display:flex;
    }
    .header-collapsible{
        display: flex;
    }
    .header-collapsible ul{
        display:flex
    }
    .header-bell{
        display: flex;
    }
    .header-bell--desktop-icons{
        display:flex;
    }
    
    .collapsible-icon{
        display:none;
    }

    .profile-section{
        
            
        display: flex;
        justify-content: space-between;
    }
    .profile-action-buttons{
        display: flex;
        flex-direction:row-reverse;
           
    }
    
    
    .stars-counter{
        display:none;
    }

    .side-navbar-section{
        
        padding: 1rem;   
    }

    .file-navigation-section{
        
        padding: 1rem;
    }
    .repository-content-section{
        
        padding: 1rem;
        
    }

    .readme-section{
        border-radius:10px;
        border: 1px solid #e1e4e8;
        margin: 1rem;
        padding:1rem;
       
    }
    

    .about-section{   
        padding: 1rem;    
    }
    .about-section p{
        padding-bottom:1rem;
    }

    footer{
        display:flex;
        justify-content:space-between;
        padding: 1rem;
        
    }
    .octicon-footer{
        display:flex;
    } 
    
    footer ul li{
        margin: 0 2rem;
        
    }


}